.poster{
  margin: 15px;
  width: 150px; 
  word-wrap: break-word;
  cursor: pointer;
}

.movie-poster {
  height: 200px;
  width: 150px;
  border: 2px solid white;
 }

 .movie-poster:hover{
  height: 250px;
  width: 2000px;
 }