/* @import './MoviePoster.css'; */

.movies-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ul:hover li{
  opacity:0.5;
} */
/* 
.movies-container:hover .movie-poster{
  opacity: 0.5;
} */