header {
  display: flex;
  margin-bottom: 10px;
}


.site-title {
  font-size: 2em;
}

.home-button,
.home-image {
  margin: 5px 0px 0px 5px;
  height: 70px;
  width: 70;
  border:none;
  cursor: pointer;
}